In [1]:
'''Tuple
hetro data
c brackets
single entry tuple is int or u have to give comma
'''

'Tuple\nhetro data\nc brackets\n'

In [2]:
t1=()
print(type(t1))

<class 'tuple'>

In [5]:
tup1=(10)
tup2=(10,)
print(type(tup1))
print(type(tup2))#

<class 'int'>

In [8]:
tup3=(1,2,3,4,5,6)
tup4=tup3[1:3]
print(tup4)

(2, 3)

In [11]:
for ele in tup3:
 print(ele)

1
2
3
4
5
6

In [39]:

'''my try..do not know what generator is
later sir discussed . he says generator is like iterator which we discuss later
instead we can use list compre fn and convert to tuple'''
tup5=(ele**2 for ele in tup3)
tup6=tuple(tup5)
print(type(tup6))
print(type(tup5))
tup7=[ele**2 for ele in tup3]
tup8=tuple(tup7)
print(tup8)
print(type(tup7))

<class 'tuple'>
<class 'generator'>
(1, 4, 9, 16, 25, 36)
<class 'list'>

In [19]:
t=(5,2,7,1)
ts=(sorted(t))# sorted returns list, since tuples r immutable
print(ts)
print(type(ts))

[1, 2, 5, 7]
<class 'list'>

In [20]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [26]:
p=t.count(2)
print(p)

1

In [29]:
ta=add(t,9)

NameError: name 'add' is not defined

In [35]:
'''tuple comparion csn be done using the relational operator ==='''
ta=(1,2,3)
tb=(2,3,1)
tc=(1,2,3)

if ta>=tb:
    print("true")
else:
    print("falde")

falde

Hw: Find out func that r available in list but not in tuple and write reason(r: mostly coz immutable)

In [51]:
'''tuple unpacking'''
t=((1,2,3),(4,5,6))
tb=('a','b','c',t)
print(t)
print(*t)
print(*tb[1])
print(*tb[3][0])

((1, 2, 3), (4, 5, 6))
(1, 2, 3) (4, 5, 6)
b
1 2 3

In [52]:
'''Grouping tuples'''
names=('Ram','Raja','Geetha','Remys')
gender=('male','male','female','female')
'''u want group as ('ram,male'),(raja,male)'''
for i in range(4):
    new=names[i]+','+gender[i]
    print(new)

Ram,male
Raja,male
Geetha,female
Remys,female

In [53]:
'''zip function
Understnad difference in both uses'''
ite = zip(names,gender)
print(*ite)

('Ram', 'male') ('Raja', 'male') ('Geetha', 'female') ('Remys', 'female')

In [54]:
for ite in zip(names,gender):
    print(*ite)

Ram male
Raja male
Geetha female
Remys female

In [59]:
fruits=('apple','orange','grape','guava')
veg=('cabbage','carrot','beetroot','radish')
cal=(10,20,30,40)
ite=zip(fruits,veg,cal)
print(*ite)
for ite1 in zip(fruits,veg,cal):
    print(*ite1)

('apple', 'cabbage', 10) ('orange', 'carrot', 20) ('grape', 'beetroot', 30) ('guava', 'radish', 40)
apple cabbage 10
orange carrot 20
grape beetroot 30
guava radish 40